@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
@theme {
  --font-mons:"Montserrat","sans-serif";
  --font-inter:"Inter","sans-serif";
}

@layer components {
  .signup-span{
    @apply label text-white text-sm font-semibold;
  }
  .signup-div{
    @apply flex flex-col gap-y-1.5 ;
  }
  .path-icons{
    @apply flex  space-x-2 btn   rounded-full;
  }
  .flag-span{
    @apply inline-flex items-center bg-primary text-sm px-3  py-0.5 rounded-full font-semibold;
  }
  .seemore-span{
    @apply pl-1 underline decoration-white underline-offset-1 text-accent cursor-pointer;
  }
  .flag-span-not{
    @apply inline-flex items-center bg-primary text-[12px] px-2  py-0.5 rounded-full font-semibold;
  }

}